.content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.left-section,
.right-section {
    width: 45%;
    max-width: 850px;
    min-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    border: 12px solid #353535;
    background-color: #939393;
    color: rgb(242, 242, 242);
}

.prph-header {
    display: flex;
    height: auto;
    justify-content: center;
    border-bottom: 2px solid #353535;
}

.prph-text {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 5%;
    justify-content: center;
    flex-wrap: wrap;
}

.prph-text h4 {
    border-bottom: 2px solid #353535;
}