header {
    background-color: #353535;
    height: 90px;
    display: flex;
}

.header {
    margin: 0;
    padding: 0;
}

.logos {
    display: flex;
    gap: 1%;
    align-items: center;
    margin-left: 3%;
}

.head-logo img {
    height: auto;
    width: 250px;
}

#steam-logo i {
    font-size: 30px;
    height: auto;
    color: white;
    
    border-radius: 100%;
}

#wiki-logo i {
    color: white;
    border-radius: 100%;
    width: 30px;
    height: auto;
}

/* #steam-logo {
    background-color: white; */
/* border-radius: 100%;
}

#wiki-logo {
    background-color: white; */
/* border-radius: 100%;
} */

#bg {
    position: absolute;
    background-image: url("https://s1.radikal.cloud/2025/12/24/bg3648439dad146b7c.jpg");
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    width: 100%;
    height: 260%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

.video-logo {
    height: 150px;
    display: flex;
    align-items: center;
    margin: 50px 0;
    border: 12px solid #353535;
    background: #939393;
}

.video-logo img {
    height: auto;
    width: 500px;
}

.video-trailer {
    border: 12px solid #353535;
}

.factorio-sa-trailer,
.factorio-trailer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* 
#atg {}

#tfb {} */

.content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.left-section,
.right-section {
    width: 45%;
    max-width: 850px;
    min-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    border: 12px solid #353535;
    background-color: #939393;
    color: rgb(242, 242, 242);
}

.prph-header {
    display: flex;
    height: auto;
    justify-content: center;
    border-bottom: 2px solid #353535;
    width: 30%;
}

.prph-text {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 5%;
    justify-content: center;
    flex-wrap: wrap;
}

.prph-text h4 {
    border-bottom: 2px solid #353535;
    width: 40%;
}

footer {
    margin-top: 30px;
    background-color: #353535;
    color: rgb(242, 242, 242);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1 0 300px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links li a {
    color: rgb(242, 242, 242);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #ffca28;
}

.footer-social-links a {
    color: rgb(242, 242, 242);
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
    font-size: 25px;
}

#secret {
    color: #353535;
}

.footer-social-links a:hover {
    color: #ffca28;
}

#secret:hover {
    color: #353535;
}

.copyright {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}